.hello-container, .objective-container, .work-experience, .skills, .education, .projects, .publication, .certifications {
    background-color: #F5F5F5;
    box-shadow: 1px 1px 1px 1px #F5F5F5;
    margin: 20px auto;
    max-height: 100%;
    min-height: 250px;
    padding: 50px;
    width: 85%;
}

/* name container starts*/
.profile-image {
    float: left;
    height: 250px;
    margin-right: 20px;
    width: 30%;
}

.hello-greeting {
    text-align: center;
}

.hello-description {
    line-height: 1.5;
    text-align: center;
}

/*name container ends*/

/*objective container starts*/
.objective-image {
    float: left;
    margin-right: 20px;
    width: 30%;
}

.objective-title {
    text-align: center;
}

.objective-description {
    line-height: 1.5;
    text-align: center;
}

/*objective container ends*/