/* TODO media queries below once desktop version is finalized*/
html, body {
    /*background-color: #fffdfd;*/
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
    /*DONT REMOVE THE ABOVE AND BELOW COMMENTS*/
    /*font-family: 'Merriweather', serif;*/
}

#userName, .contact {
    color: #00059B;
}

.container {
    background-color: #fffdfd;
    box-shadow: 1px 1px 10px #dbe2ef;
    margin: 30px auto;
    /*max-height: 100%;*/
    /*min-height: 300px;*/
    padding: 50px;
    width: 60%;
}

.header, .description {
    margin-left: 10px;
    text-align: justify;
}

.header {
    color: #112d4e;
    font-family: 'Merriweather', serif;
}

.description, .list {
    /*color: #112d4e;*/
    font-family: 'Roboto', sans-serif;
}