html, body {
    font-weight: 300;
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Merriweather', serif;*/
}

.nav-bar {
    background-color: #F5F5F5;
    box-shadow: 10px 10px 10px #F1EFEF;
    margin: 2px auto;
    min-height: 50px;
    position: sticky;
    top: 2px;
    width: 90%;
    z-index: 100;
}

.hello-container, .objective-container, .summary-container {
    background-color: #F5F5F5;
    box-shadow: 10px 10px 10px #F1EFEF;
    margin: 200px auto;
    max-height: 100%;
    min-height: 250px;
    padding: 50px;
    /* TODO media queries below once desktop version is finalized*/
    width: 55%;
}

.image-container {
    display: inline-block;
    float: left;
    max-height: inherit;
    min-height: inherit;
    position: relative;
    width: 30%;
}

.image-container img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.side-text-container {
    display: inline-block;
    height: 100px;
    max-height: inherit;
    min-height: inherit;
    width: 70%;
}

.side-text-container .side-text-header, .side-text-container .side-text-description {
    margin-left: 10px;
    text-align: justify;
}

.side-text-container .side-text-header {
    font-family: 'Merriweather', serif;
}

.side-text-container .side-text-description, .side-text-container .side-text-list {
    font-family: 'Roboto', sans-serif;
}

.side-text-container .side-text-list {
    list-style-position: outside;
    margin-left: 30px;
    padding-left: 0;
    text-align: justify;
}

.footer {
    background-color: #F5F5F5;
    box-shadow: 10px 10px 10px #F1EFEF;
    margin: 2px auto;
    min-height: 30px;
    width: 90%;
}